.Header {
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contact {
  min-height: 5vh;
}

.Content {
  min-height: 75vh;
  max-height: 75vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.Content-header {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
}

.Instructors {
  padding-top: 1rem;
}

.Footer {
  min-height: 10vh;
  max-height: 10vh;
  position: relative;
  border-top: 1px solid rgba(30, 32, 34, 0.2);
}

.Footer-emailButton {
  position: absolute;
  top: 22%;
  left: 2%;
}

.Footer-callButton {
  position: absolute;
  top: 22%;
  left: 45%;
}

.Footer-menuButton {
  position: absolute;
  top: 22%;
  right: 2%;
}

.Footer-icon {
  margin: 0 !important;  
}

.pull-right {
  text-align: right;
}